/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
/* RESET CSS End */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Microsoft JhengHei',
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/* 頁首 header */
header {
  background: #424242;
  color: #ffd366;
}

header .flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 75%;
  padding-top: 75px;
  padding-bottom: 75px;
}

header .flex-inner {
  flex: 1;
  display: inline-flex;
  justify-content: center;
}

header h1 {
  margin-top: 18px;
}

header h1 a {
  display: block;
  width: 117px;
  height: 117px;
  background: url(./assets/BMICLogo.png);
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

header .bmi-input-area {
  max-width: 250px;
  flex-direction: column;
}

header .input-group:first-child {
  margin-bottom: 23px;
}

header .bmi-input-area label {
  display: block;
  margin-bottom: 7px;
  font-size: 18px;
}

header .bmi-input-area input {
  width: 100%;
  color: #fff;
  background: rgba(255, 255, 255, 0.18);
  border: 2px solid #ffd366;
  border-radius: 10px;
  font-size: 24px;
  padding: 8px 16px;
  outline: none;
}

header .bmi-input-area input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

header .result-wrapper {
  position: relative;
  width: 123px;
  height: 123px;
  margin-top: 18px;
}

header .get-result {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-decoration: none;
  outline: none;
  color: #424242;
  background: #ffd366;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(255, 196, 50, 0.64);
  opacity: 1;
  transition: all 0.5s ease;
}

header .get-result:hover,
header .get-result:focus {
  box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
}

header .get-result:active {
  background: #dea821;
}

header .get-result.hidden {
  opacity: 0;
  transition: all 0.5s ease;
}

header .summary {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.5s ease;
}

header .summary.hidden {
  opacity: 0;
  transition: all 0.5s ease;
}

.summary > .status {
  position: relative;
  width: 100%;
  height: 100%;
}

.summary > .ideal > * {
  border-color: #86d73f;
  color: #86d73f;
}

.summary > .underweight > * {
  border-color: #31baf9;
  color: #31baf9;
}

.summary > .overweight > * {
  border-color: #ff982d;
  color: #ff982d;
}

.summary > .obeseClass1 > * {
  border-color: #ff6c03;
  color: #ff6c03;
}

.summary > .obeseClass2 > * {
  border-color: #ff6c03;
  color: #ff6c03;
}

.summary > .obeseClass3 > * {
  border-color: #ff1200;
  color: #ff1200;
}

.summary > .status > .status-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-decoration: none;
  outline: none;
  border-width: 6px;
  border-style: solid;
}

.summary .status-circle > h3 {
  font-size: 32px;
  line-height: 1.2;
}

.summary .status-circle > p {
  font-size: 14px;
}

.summary .status-title {
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translate(100%, -50%);
  font-size: 32px;
}

.summary .status-refresh {
  position: absolute;
  bottom: 6px;
  right: -10px;
  padding: 3px;
  border-radius: 100px;
  background: #424242;
  outline: none;
  cursor: pointer;
}

.summary .status-refresh:hover .loop-icon,
.summary .status-refresh:focus .loop-icon {
  animation: rotate 2s linear infinite;
}

.summary .fa-circle {
  font-size: 30px;
}
.summary .loop-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  to {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  from {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (max-width: 767px) {
  header .flex-wrapper {
    flex-wrap: wrap;
    align-items: stretch;
    width: 90%;
    padding: 0 0 20px;
  }

  header .flex-inner:first-child {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  header .flex-inner:nth-child(2) {
    flex-basis: 60%;
    max-width: none;
  }

  header .flex-inner:last-child {
    flex-basis: 40%;
    align-items: center;
  }

  header h1 a {
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  .summary .status-title {
    right: -3px;
  }
}

/* 歷史紀錄區域 main */
main {
  padding-top: 48px;
  padding-bottom: 58px;
  background: #f5f5f5;
  color: #424242;
}

main h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 36px;
}

main .bmi-history {
  width: 60%;
  margin: 0 auto;
  color: #4a4a4a;
  perspective: 500px;
}

.bmi-history > li {
  display: flex;
  border-left-width: 7px;
  border-left-style: solid;
  margin-bottom: 16px;
  font-size: 20px;
  background: #fff;
  opacity: 0;
  height: 0;
  transform: rotateX(-90deg);
  transition: all 0.5s cubic-bezier(0.36, -0.64, 0.34, 1.76);
}

.bmi-history > li.show {
  opacity: 1;
  height: 100%;
  transform: none;
  transition: all 0.5s cubic-bezier(0.36, -0.64, 0.34, 1.76);
}

/* .bmi-history > li:hover {
  transform: scale(1.05);
} */

.bmi-history > .ideal {
  border-left-color: #86d73f;
}

.bmi-history > .underweight {
  border-left-color: #31baf9;
}

.bmi-history > .overweight {
  border-left-color: #ff982d;
}

.bmi-history > .obeseClass1 {
  border-left-color: #ff6c03;
}

.bmi-history > .obeseClass2 {
  border-left-color: #ff6c03;
}

.bmi-history > .obeseClass3 {
  border-left-color: #ff1200;
}

.bmi-history .cell {
  display: inline-flex;
  align-items: center;
  width: 20%;
  padding: 20px 0;
}

.bmi-history li .status {
  width: 23%;
  font-size: 24px;
  padding-left: 12px;
}

.bmi-history li .date {
  width: 17%;
  justify-content: flex-end;
  padding-right: 12px;
}

.bmi-history .cell small {
  font-size: 12px;
}

main .btn-clear {
  display: block;
  border: none;
  padding: 8px 16px;
  margin: 0 auto;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  background: #ffd366;
  color: #424242;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

main .btn-clear:hover,
main .btn-clear:focus {
  box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
}

main .btn-clear:active {
  background: #dea821;
}

@media (max-width: 767px) {
  main .bmi-history {
    width: 80%;
  }

  .bmi-history li {
    flex-wrap: wrap;
  }

  .bmi-history li .cell {
    width: 23%;
  }

  .bmi-history li .status {
    width: 31%;
  }

  .bmi-history li .date {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 575px) {
  main .bmi-history {
    width: 95%;
  }

  .bmi-history li .cell {
    width: 33.333%;
    justify-content: center;
  }

  .bmi-history li .status {
    width: 100%;
  }

  .bmi-history li .date {
    width: 100%;
  }
}

/* 頁尾 footer */
footer {
  padding: 18px 0;
  background: #ffd366;
}

footer h2 a {
  display: block;
  width: 55px;
  height: 55px;
  margin: 0 auto;
  background: url(./assets/BMICLogo.png);
  background-size: contain;
  outline: none;
  filter: brightness(0.1);
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
